body {
	background-color: #000;
}
.indicateur {
	list-style: none;
	display: flex;
	background-color: #FFFFFF;
	margin-top: 20%;
}

.indicateur li{
    background:#bfd70e;
    border-radius:50%;
    height:100px;
    width:100px;
    border:2px solid #679403;
    margin-left:2px;
    margin-right:2px;
    margin-top:10px;
    margin-bottom:10px;
}
.indicateur li:nth-child(4){
	background-color: red;
}
.indicateur li:nth-child(7){
	background-color: red;
}
.indicateur li:nth-child(12){
	background-color: red;
}